

.imgProductCart{
    width: 130px;
    height: 75px;
}
.positionCenter {
    vertical-align: middle;
}
.btn-sm {border: none;}
.btnAction {width: 80px;}
.qtyCartProduct{
    margin: 0;
    display: inline-block;
}

