
.containerDetail {
  
    img {
        height: 400px;
        width: 1200px;
    }
    .col-md-8 {
        .card-body{

            .buttonHandle{
                width: 200px;
                height: 50px;
            }
        }
    }
    
}
